/* Write your CSS here */
.not-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  font-family: bree serif;
}
.ho-head {
  color: white;
  font-size: 50px;
}
